{% extends 'layout.html.twig' %}
{% import "Macro/ChoiceButtons.html.twig" as specialChoiceButton %}

{% block title %}
    <title>{{ 'app.project.homepage'|trans }}</title>
{% endblock %}

{% block body %}
    {% set user = app.user %}

    <div class="container_donjon">
        <div class="room_top">
            <div class="room_title">
                <h1>{{ roomAction.name }}</h1>
            </div>

            <div class="room_number">
                {% for i in 1..8 %}
                    {% if user.roomNumber is same as(i) %}
                        <div class="underLined">
                            {{ i }}
                        </div>
                    {% else %}
                        <div>
                            {{ i }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="character">
            <div class="character_life character_child">
                <div class="character_title"><p>{{ 'app.donjon.character.life'|trans }}</p></div>
                <div class="character_attribute">
                    <p>
                    {% for i in 1..user.life %}
                        |&nbsp
                    {% endfor %}
                    </p>
                </div>
            </div>
            <div class="character_items character_child">
                <div class="character_title"><p>{{ 'app.donjon.character.items'|trans }}</p></div>
                {% for item in user.items %}
                    <div class="character_attribute"><p>{{ item.name }}</p></div>
                {% endfor %}
            </div>
        </div>

        <section class="room_action">
            <div class="room_mj">
                <div class="room_mj_head">
                    <img src="{{ asset('assets/images/mj.svg') }}" draggable="false" alt="Game Master">
                </div>
                <div class="room_mj_bubble">
                    <img src="{{ asset('assets/images/bulle.svg') }}" draggable="false" alt="">
                </div>
            </div>

            <div class="room_txt">
                <p>
                    {{ roomAction.text }}
                </p>
            </div>

            {#<div class="room_appreciation">#}
            {##}
            {#</div>#}

            <div class="room_choices">

                {% for choice in roomAction.choices %}
{#                    {{ dump(choice) }}#}

                    {% if (choice.itemAction is null)
                        and (choice.chanceAction is null) %}

                        {% if choice.isBackToMenu == true %}
                            {% set room_path = path('donjon_vanilla_end_game')%}
                        {% elseif (choice.targetRoomAction is null) %}
                            {% set room_path = path('donjon_vanilla_build_next_room', { 'id': roomAction.binderToken(app.user) }) %}
                        {% else %}
                            {% set room_path = path('donjon_vanilla_process', { 'id': choice.targetRoomAction.binderToken(app.user) }) %}
                        {% endif %}

                        <div class="room_choice bckg-grey">
                            <a href="{{ room_path }}" class="full_link"></a>
                            <div class="fl">
                                <img src="{{ asset('assets/images/fleche.png') }}" alt="">
                            </div>
                            <div class="room_choice_txt">
                                {{ choice.text }}
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

                {{ specialChoiceButton.displaySpecialButton(resultChoiceArray, false) }}
                {{ specialChoiceButton.displaySpecialButton(itemChoiceArray, true) }}

            </div>

        </section>
    </div>
{% endblock %}
