{% extends 'layout.html.twig' %}

{% block title %}
    <title>{{ 'app.project.homepage'|trans }}</title>
{% endblock %}

{% block body %}
    <div class="container_donjon">

            <div class="you_died">
                <div class="skullContainer">
                    <img src="{{ asset('assets/images/skull.svg') }}" alt="crane">
                </div>
                <div class="skullMessage text_center">
                    <p>You Died !</p>
                </div>
                <div class="skullComment">
                    <p>Heureusement que vous êtes là pour nourrir les rats !</p>
                </div>
                <div class="skullBackLink">
                    <div class="menuLink bckg-grey">
                        <a href="{{ path('homepage') }}" class="full_link"></a>
                        <div class="fl">
                            <img src="{{ asset('assets/images/fleche.png') }}" alt="">
                        </div>
                        <div class="room_choice_txt">
                            {{ 'app.project.back_to_menu'|trans }}
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
