<!DOCTYPE html>
<html lang="fr">

<head>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link href="{{ asset('assets/css/reset.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/css/knackcss.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">

    {% block title %}
        <title>{{ 'app.project.homepage'|trans }}</title>
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        {% if app.user %}
            <div class="logout">
                <a href="{{ path('logout') }}" title="{{ 'app.logout'|trans }}"><img class="s_img" src="{{ asset('assets/images/deconnexion.png') }}" alt="Deconnexion"></a>
            </div>
        {% endif %}

        {% block body %}
        {% endblock %}
    </div>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
